<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
    <% analytics_tag = content_for?(:analytics_tag) ? yield(:analytics_tag) : 'UA-176422698-2'  %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= analytics_tag %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= analytics_tag %>');
    </script>
    <% end %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% else %>
      <% title = "#{CONFIG.dig(:application, :commercial, :brand)} - #{t('meta.payoff')}" %>
      <% description = "#{CONFIG.dig(:application, :commercial, :brand)} - #{t('meta.description')}" %>
      <% logo = image_url(CONFIG.dig(:application, :commercial, :image)) %>
      <title><%= title %></title>
      <meta name="description" content="<%= description %>">
      <meta name="image" content='<%= logo %>'>
      <meta name="application-name" content="<%= title %>">
      <meta content="<%= I18n.locale&.to_s %>" http-equiv='content-language'>
      <meta name="language" content="<%= I18n.locale == :it ? 'Italian' : 'English' %>">
      <meta property="og:title" content="<%= title %>">
      <meta property="og:type" content="website">
      <meta property="og:url" content="<%= CONFIG.dig(:application, :commercial, :url) %>">
      <meta property="og:image" content='<%= logo %>'>
      <meta property="og:description" content="<%= description %>">
      <meta property="og:site_name" content="<%= title %>">
    <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <% if !Rails.env.production? %>
      <meta name="robots" content="noindex,nofollow,noarchive" />
    <% end %>
    <%= vite_javascript_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name='viewport' content='width=device-width'>
    <%= favicon_link_tag "favicon_frontend#{'_dev' unless Rails.env.production?}_96.png", type: 'image/png' %>
    <%= favicon_link_tag "favicon_frontend#{'_dev' unless Rails.env.production?}.ico" %>
    <!--script src="https://js.stripe.com/v3/"></script-->
  </head>
  <body>
    <%= yield %>
  </body>
</html>
